## Clions Project
cmake-build-debug/*
!cmake-build-debug/SDL2.dll
# cmake/
.idea/



## CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Project exclude paths
/cmake-build-debug/
/include/
/SDL2/
/SDL2_image/
/glm/
/assimp/

# exclude files
glad.c
stb_image.h